
.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
}


.card-img-top {
  height: 300px; 
  object-fit: cover;
}


.card-title {
  font-size: 1.25rem;
}


.card-text {
  font-size: 1rem;
}


.bg-dark {
  background-color: #343a40 !important; 
}


.input-group {
  width: 100%;
}

.form-control {
  border-radius: 0;
}

.btn-primary {
  border-radius: 0;
}

.react-spinner-loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.text-danger {
  font-weight: bold;
  font-size: 1rem;
}
