/* src/components/MovieCard.css */

.card-text strong {
    font-weight: 600; /* Adjust font-weight as needed */
  }
  
  .card-body {
    padding: 1.25rem; /* Adjust padding for better spacing */
  }
  
  .card-text {
    font-size: 0.9rem; /* Adjust font size for readability */
  }
  

.card-title {
    font-size: 1.25rem; /* Adjust font size for title */
    font-weight: bold; /* Adjust font weight for emphasis */
    margin-bottom: 0.75rem; /* Adjust margin for spacing */
  }
  